* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(2, 25, 231);
}

h1, h2, h3, h4, h5, h6 {
    color: #477bec;
}

p, label {
   color: rgb(9, 26, 124);
}

input {
    border: none;
    border-bottom: 1px solid #49439c;
    padding: 10px 0;
}

input[type="text"], input[type="number"], input[type="date"], input[type="file"], textarea {
    width: 400px;
}

textarea {
    padding: 10px 5px;
}

.cabecalho {
    height: 160px;
    padding: 20px;
    background-color: #2f00ff;
}

.cabecalho h3 {
    color: #0602fcf6;
    margin-top: 0;
}

.form-container {
    background-color: #0602ee;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -46px;
}

.form-header {
    border-bottom: 1px solid #1900ff;
    height: 45px;
}

.form-header p{
    color: #3805f1;
    border-bottom: 2px solid #4400fd;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    list-style: 45px;
}